{{#d-modal-body title="encrypt.title"}}
  {{#if error}}
    <div class="alert alert-error">{{error}}</div>
  {{/if}}
  <div>
    <p>{{i18n "encrypt.preferences.status_enabled_but_inactive"}}</p>
    {{html-safe (i18n "encrypt.preferences.notice_active")}}
    <p>
      <label for="passphrase">
        {{i18n
          "encrypt.preferences.paper_key_label"
        }}
      </label>
      {{input
        type="password"
        value=passphrase
        placeholder=(i18n "encrypt.preferences.paper_key_placeholder")
        id="passphrase"
        autocomplete="current-password"
        disabled=inProgress
      }}
    </p>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn btn-primary"
    icon="unlock"
    label="encrypt.preferences.activate"
    action=(action "activate")
  }}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
