<DModalBody @title="encrypt.manage_paper_keys.title">
  <div>
    {{#if keys}}
      <p>{{i18n "encrypt.manage_paper_keys.instructions"}}</p>
      <table class="paper-keys">
        <tbody>
          {{#each keys as |key|}}
            <tr>
              <td>
                {{d-icon "key"}}
                {{#if key.isPaper}}
                  <span class="paper-key">{{key.name}}</span>
                  ...
                {{else if key.isPassphrase}}
                  <span class="passphrase">
                    {{i18n "encrypt.manage_paper_keys.passphrase"}}
                    <i>{{i18n "encrypt.manage_paper_keys.not_recommended"}}</i>
                  </span>
                {{/if}}
              </td>
              <td>
                <DButton
                  @icon="far-trash-alt"
                  @action={{action "delete"}}
                  @actionParam={{key.label}}
                  @class="btn-danger pull-right"
                  @title="encrypt.manage_paper_keys.delete"
                />
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>{{i18n "encrypt.manage_paper_keys.no_key"}}</p>
    {{/if}}
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @icon="ticket-alt"
    @action={{action "generatePaperKey"}}
    @label="encrypt.generate_paper_key.title"
  />
</div>