{{#d-modal-body title="encrypt.manage_paper_keys.title"}}
  <div>
    {{#if keys}}
      <p>{{i18n 'encrypt.manage_paper_keys.instructions'}}</p>
      <table class="paper-keys">
        {{#each keys as |key|}}
          <tr>
            <td>
              {{d-icon "key"}}
              {{#if key.isPaper}}
                <span class="paper-key">{{key.name}}</span>
                ...
              {{else if key.isPassphrase}}
                <span class="passphrase">
                  {{i18n 'encrypt.manage_paper_keys.passphrase'}}
                  <i>{{i18n 'encrypt.manage_paper_keys.not_recommended'}}</i>
                </span>
              {{/if}}
            </td>
            <td>
              {{d-button
                icon="far-trash-alt"
                action=(action "delete")
                actionParam=key.label
                class="btn-danger pull-right"
                title="encrypt.manage_paper_keys.delete"}}
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <p>{{i18n 'encrypt.manage_paper_keys.no_key'}}</p>
    {{/if}}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button icon="ticket-alt" action=(action "generatePaperKey") label="encrypt.generate_paper_key.title"}}
</div>
