{{#d-modal-body title="encrypt.reset.title"}}
  <p>{{i18n "encrypt.reset.instructions"}}</p>
  <p>
    <label>
      {{input type="checkbox" checked=everything disabled=inProgress}}
      {{i18n "encrypt.reset.everything"}}
    </label>
  </p>
  <p>{{{i18n "encrypt.reset.confirm_instructions" username=currentUser.username}}}</p>
  {{input type="text" value=confirmation}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn btn-danger" icon="trash-alt" label="encrypt.reset.title" action=(action "reset") disabled=disabled}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
