<DModalBody @title="encrypt.reset.title">
  <ConditionalLoadingSection @isLoading={{isLoadingStats}}>
    {{#if encryptedPmsCount}}
      <p>{{i18n "encrypt.reset.instructions"}}</p>
      <p>
        {{html-safe
          (i18n "encrypt.reset.instructions_lost_pms" count=encryptedPmsCount)
        }}
        {{html-safe
          (i18n
            "encrypt.reset.confirm_instructions" username=currentUser.username
          )
        }}
      </p>
      <Input @type="text" @value={{confirmation}} />
    {{else}}
      <p>{{i18n "encrypt.reset.instructions_safe"}}</p>
    {{/if}}
  </ConditionalLoadingSection>
</DModalBody>

<div class="modal-footer">
  <DButton
    class="btn btn-danger"
    @icon="trash-alt"
    @label="encrypt.reset.title"
    @action={{action "reset"}}
    @disabled="disabled"
  />
  <DModalCancel @close={{action "closeModal"}} />
</div>