{{#d-modal-body title="encrypt.reset.title"}}
  {{#conditional-loading-section isLoading=isLoadingStats}}
    {{#if encryptedPmsCount}}
      <p>{{i18n "encrypt.reset.instructions"}}</p>
      <p>
        {{{i18n "encrypt.reset.instructions_lost_pms" count=encryptedPmsCount}}}
        {{{i18n "encrypt.reset.confirm_instructions" username=currentUser.username}}}
      </p>
      {{input type="text" value=confirmation}}
    {{else}}
      <p>{{i18n "encrypt.reset.instructions_safe"}}</p>
    {{/if}}
  {{/conditional-loading-section}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn btn-danger" icon="trash-alt" label="encrypt.reset.title" action=(action "reset") disabled=disabled}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
