<DModalBody @title="encrypt.rotate.title">
  <p>{{i18n "encrypt.rotate.instructions"}}</p>
  <p>
    {{html-safe
      (i18n "encrypt.reset.confirm_instructions" username=currentUser.username)
    }}
  </p>
  <Input @type="text" @value={{confirmation}} />
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn btn-primary"
    @icon="sync"
    @label="label"
    @action={{action "rotate"}}
    @disabled={{disabled}}
  />
  <DModalCancel @close={{action "closeModal"}} />
</div>