{{#d-modal-body title="encrypt.rotate.title"}}
  <p>{{i18n "encrypt.rotate.instructions"}}</p>
  <p>{{html-safe (i18n "encrypt.reset.confirm_instructions" username=currentUser.username)}}</p>
  {{input type="text" value=confirmation}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn btn-primary" icon="sync" label=label action=(action "rotate") disabled=disabled}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
