{{#if (or model.creatingPrivateMessage model.topic.encrypted_title)}}
  {{#if isEncryptActive}}
    <a {{action clicked}} title={{i18n title}}>
      {{d-icon (if model.isEncrypted "lock" "unlock") class=(concat (if model.isEncrypted "enabled ") (if model.disableEncryptIndicator "disabled"))}}
    </a>

    {{#if model.isEncrypted}}
      {{#if model.isNew}}
        {{encrypted-post-timer-dropdown topicDeleteAt=this.model.topic.delete_at onChange=(action "timeBombClicked")}}
      {{/if}}
    {{/if}}

    {{#if model.showEncryptError}}
      <span class="error">{{model.encryptError}}</span>
    {{/if}}
  {{else if isEncryptEnabled}}
    <span title="{{i18n "encrypt.preferences.status_enabled_but_inactive"}}">
      {{d-icon "unlock" class="disabled"}}
    </span>
  {{/if}}
{{/if}}
