{{#if showEncryptControls}}
  <div class="encrypt-controls">
    {{#if isEncryptActive}}
      <a href {{action clicked}} title={{title}} class="btn btn-default btn-icon no-text encrypt-toggle {{if model.isEncrypted "enabled"}} {{if disabled "disabled"}}">
        {{d-icon (if model.isEncrypted "lock" "unlock")}}
      </a>

      {{~#if model.isEncrypted}}
        {{~#unless model.editingPost~}}
          <div class="composer-action-divider"></div>
          {{~encrypted-post-timer-dropdown topicDeleteAt=this.model.topic.delete_at disabled=timeBombRequired onChange=(action "timerClicked")}}
          <span title={{ i18n "encrypt.time_bomb.title" after=this.model.deleteAfterMinutesLabel}}>{{this.model.deleteAfterMinutesLabel}}</span>
        {{/unless}}
      {{/if}}

      {{#if model.showEncryptError}}
        <span class="error">{{model.encryptError}}</span>
      {{/if}}
    {{else if isEncryptEnabled}}
      <span title={{i18n "encrypt.preferences.status_enabled_but_inactive"}}>
        {{d-icon "unlock" class="disabled"}}
      </span>
    {{/if}}
  </div>
{{/if}}
