{{#if canEnableEncrypt}}
  <div class="control-group pref-title">
    <label class="control-label">{{i18n "encrypt.title"}}</label>

    {{#if capabilities.isIE11}}
      <div class="alert alert-error">
        <p>{{i18n "encrypt.preferences.ie11"}}</p>
      </div>
    {{else if isInsecureContext}}
      <div class="alert alert-error">
        <p>{{i18n "encrypt.preferences.insecure_context"}}</p>
      </div>
    {{else}}
      <div class="controls">
        {{#if isCurrentUser}}
          {{#if isEncryptEnabled}}
            {{#if isEncryptActive}}
              <p>{{i18n "encrypt.preferences.status_enabled"}}</p>
              <fieldset class="control-group">
                {{d-button
                  icon="times"
                  action=(action "deactivateEncrypt")
                  label="encrypt.preferences.deactivate"
                  id="encrypt-deactivate"
                }}
                {{d-button
                  id="encrypt-generate-paper-key-for-device"
                  icon="plus"
                  action=(action "generatePaperKey" true)
                  label="encrypt.generate_paper_key.title_device"
                }}
                {{d-button
                  id="encrypt-generate-paper-key"
                  icon="ticket-alt"
                  action=(action "generatePaperKey")
                  label="encrypt.generate_paper_key.title"
                }}
                {{encrypt-preferences-dropdown
                  id="encrypt-preferences"
                  onChange=(action "selectEncryptPreferencesDropdownAction")
                }}
              </fieldset>
              {{preference-checkbox
                labelKey="encrypt.preferences.encrypt_pms_default"
                checked=model.user_option.encrypt_pms_default
              }}
              {{save-controls
                id="encrypt_preference_save"
                model=model
                action=(action "save")
                saved=saved
              }}
            {{else}}
              <form>
                <p>
                  {{i18n "encrypt.preferences.status_enabled_but_inactive"}}
                </p>

                {{#if importIdentity}}
                  {{html-safe (i18n "encrypt.preferences.notice_import")}}
                  {{textarea
                    class="imported-key-pair"
                    value=identity
                    placeholder=identityPlaceholder
                  }}
                {{else}}
                  {{html-safe (i18n "encrypt.preferences.notice_active")}}
                  <p>
                    <label for="password">
                      {{i18n "encrypt.preferences.paper_key_label"}}
                    </label>

                    {{input
                      type="password"
                      value=passphrase
                      placeholder=(i18n
                        "encrypt.preferences.paper_key_placeholder"
                      )
                      id="passphrase"
                      autocomplete="current-password"
                      disabled=inProgress
                    }}
                  </p>
                {{/if}}

                <p>
                  {{d-button
                    class="btn-primary"
                    id="encrypt-activate"
                    icon="unlock"
                    action=(action "activateEncrypt")
                    type="submit"
                    disabled=inProgress
                    label="encrypt.preferences.activate"
                  }}
                  {{encrypt-enable-dropdown
                    isEncryptEnabled=isEncryptEnabled
                    importIdentity=importIdentity
                    onChange=(action "selectEncryptEnableDropdownAction")
                  }}
                </p>
              </form>
            {{/if}}
          {{else}}
            <p>{{i18n "encrypt.preferences.status_disabled"}}</p>
            {{#if importIdentity}}
              {{html-safe (i18n "encrypt.preferences.notice_import")}}
              {{textarea
                class="imported-key-pair"
                value=identity
                placeholder=identityPlaceholder
              }}
            {{/if}}

            {{d-button
              class="btn-primary"
              id="enable-encrypted-messages"
              icon="lock"
              action=(action "enableEncrypt")
              disabled=inProgress
              label="encrypt.preferences.enable"
            }}
            {{encrypt-enable-dropdown
              isEncryptEnabled=isEncryptEnabled
              importIdentity=importIdentity
              onChange=(action "selectEncryptEnableDropdownAction")
            }}
          {{/if}}
        {{else}}
          {{#if isEncryptEnabled}}
            <p>{{i18n "encrypt.preferences.status_enabled_other"}}</p>
            <p>
              <a
                href
                {{action "selectEncryptEnableDropdownAction" "reset"}}
                class="text-danger"
              >
                {{i18n "encrypt.reset.title"}}
              </a>
            </p>
          {{else}}
            <p>{{i18n "encrypt.preferences.status_disabled_other"}}</p>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}
