{{#if siteSettings.encrypt_enabled}}
  <div class="control-group pref-title">
    <label class="control-label">{{i18n 'encrypt.title'}}</label>
    <div class="controls">
      {{#if isEnabled}}
        {{#if isActive}}
          <p>{{i18n 'encrypt.preferences.status_enabled'}}</p>
          {{#if passphraseInput}}
            <p>{{input type="password" value=old_passphrase disabled=inProgress placeholder=(i18n "encrypt.preferences.old_passphrase_placeholder")}}</p>
            <p>{{input type="password" value=passphrase     disabled=inProgress placeholder=(i18n "encrypt.preferences.passphrase_placeholder")}}</p>
            <p>{{input type="password" value=passphrase2    disabled=inProgress placeholder=(i18n "encrypt.preferences.passphrase2_placeholder")}}</p>
            {{#if passphraseStatus}}
              <p>{{i18n passphraseStatus}}</p>
            {{/if}}

            {{d-button class="btn-primary" icon="exchange" action="changeEncrypt" disabled=(or passphraseStatus inProgress) label="encrypt.preferences.change"}}
            {{d-button action="hidePassphraseInput" disabled=inProgress label="cancel"}}
          {{else}}
            {{d-button icon="exchange" action="showPassphraseInput" label="encrypt.preferences.change"}}
          {{/if}}
        {{else}}
          <p>{{i18n 'encrypt.preferences.status_enabled_but_inactive'}}</p>
          {{{i18n 'encrypt.preferences.notice_active'}}}
          <p>{{input type="password" value=passphrase  disabled=inProgress placeholder=(i18n "encrypt.preferences.passphrase_placeholder")}}</p>
          <p>{{d-button class="btn-primary" icon="unlock" action="activateEncrypt" disabled=inProgress label="encrypt.preferences.activate"}}</p>
        {{/if}}
      {{else}}
        <p>{{i18n 'encrypt.preferences.status_disabled'}}</p>
        {{#if passphraseInput}}
          {{{i18n 'encrypt.preferences.notice_enable'}}}
          <p>{{input type="password" value=passphrase  disabled=inProgress placeholder=(i18n "encrypt.preferences.passphrase_placeholder")}}</p>
          <p>{{input type="password" value=passphrase2 disabled=inProgress placeholder=(i18n "encrypt.preferences.passphrase2_placeholder")}}</p>
          {{#if passphraseStatus}}
            <p>{{i18n passphraseStatus}}</p>
          {{/if}}
          <p>
            {{d-button class="btn-primary" icon="lock" action="enableEncrypt" disabled=(or passphraseStatus inProgress) label="encrypt.preferences.enable"}}
            {{d-button action="hidePassphraseInput" disabled=inProgress label="cancel"}}
          </p>
        {{else}}
          {{d-button icon="lock" action="showPassphraseInput" label="encrypt.preferences.enable"}}
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}
