<DModal
  {{did-insert this.export}}
  @closeModal={{@closeModal}}
  @title="encrypt.export.title"
>
  <:body>
    <p>{{i18n "encrypt.export.instructions"}}</p>
    <pre class="exported-key-pair">{{this.exported}}</pre>
  </:body>

  <:footer>
    <DButton
      @action={{this.copy}}
      @icon="far-clipboard"
      @label={{if
        this.copied
        "encrypt.export.copied_to_clipboard"
        "encrypt.export.copy_to_clipboard"
      }}
      @disabled={{this.inProgress}}
      class={{if this.copied "btn btn-primary ok" "btn btn-primary"}}
    />
    <DButton
      @action={{@closeModal}}
      @label="cancel"
      class="btn-flat d-modal-cancel"
    />
  </:footer>
</DModal>